@import url("style_2.css");
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

.wrapper{	
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
header{
	background-color: rgb(140,150,150);
	padding: 20px 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-bottom: 10px;
}
header p{
	display: inline-block;
	line-height: 1.5em;
	border-bottom: 2px solid black;
}
section{
	background-color: rgb(200,200,200);
	padding: 20px 30px;
	border-radius: 20px;
}

h1{
	display: inline-block;
	border-bottom: 2px solid black;
}
span{
	display: inline-block;
	background-color: steelblue;
	color: white;
	padding: 10px;
	margin: 50px 0;
	border-radius: 20px/5px;
}
footer{
	background-color: black;
	color: white;
	padding: 20px 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}