/*Подключение шрифтов*/
@font-face {
	font-family: HurmeGeom;
	src: url('../fonts/HurmeGeometricSans1.otf');
}
@font-face {
	font-family: HurmeGeomThin;
	src: url('../fonts/HurmeGeometricSans1Thin.otf');
}
@font-face {
	font-family: HurmeGeomB;
	src: url('../fonts/HurmeGeometricSans1Bold.otf');
}

/*Сброс основных обёрток и установка шрифта*/
html,body{
	margin: 0px;
	padding: 0px;
	font-family: HurmeGeom, Arial, sans-serif;
	height: 100vh;
	overflow: hidden;/**/	
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/*настройка блоков отображения*/
/*подложки на страницах*/
body>div{
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.backg1{
	background-image: radial-gradient(circle closest-side at 50% 10%, #4b2c55 50px, #2b2040 500px);
}
.backg2{	
	background-image: radial-gradient(circle closest-side at 50% 10%, #5e3148 50px, #290e21 500px);
}
.backg3{
	background-image: radial-gradient(circle closest-side at 50% 10%, #173c59 50px, #0c2132 500px);
}
.backg4{
	background-color: #191921;
}

/*Отображение на странице*/
.container{
	height: 100%;
	background-image: url('../img/background1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	position: relative;
	z-index: 2;
}

.wrapper{
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}
canvas{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 0;
}
/*.content{
	position: relative;
}*/
#content-portfolio{
	width: 100vw;
	background-color: rgba(0,0,0, .6);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: none;/**/
	z-index: 10;
	color: #fff;
}
.content-portfolio-block{
	max-width: 1000px;
	display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;	
	margin: 15vh auto;	
}
.content-portfolio-block div{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column-reverse;
	box-sizing: border-box;
	justify-content: space-between;

	width: 485px;
	min-height: 230px;
	margin: 5px;
	padding: 30px;
	background-color: #fff;
}
.content-portfolio-block span{
	font: 1.1em HurmeGeom, Arial, sans-serif;
	letter-spacing: 0.2vw;
}
.page41{background-image: url('../img/page41.jpg');}
.page42{background-image: url('../img/page42.jpg');}
.page43{background-image: url('../img/page43.jpg');}
.page44{background-image: url('../img/page44.jpg');}
.hidden{
	position: absolute;
	width: 0;
	height: 0;
}

/*Настройка элементов*/
a{	
	display: inline-block;
	text-decoration: none;
	color: #999;
}
.icon{
	width: 35px;
	height: 35px;
	margin-right: 5px;
	fill: currentColor;
}
.icon-read{
	width: 50px;
	height: 15px;
	margin-right: 5px;
	fill: currentColor;
	stroke: currentColor;
}
li{
	position: relative;
}
/*Задание позиционирования стрелок*/
.pin{
	fill: currentColor;
	position: absolute;
	top: -1px;
	right: -25px;
	width: 20px;
	height: 20px;	
}
.this_page .pin{
	transform: scaleY(-1);
}
.pin0{
	fill: currentColor;
	position: absolute;
	top: 10px;
	right: -35px;
	width: 50px;
	height: 20px;	
}

/*Оформление шапки*/
header{
	min-height: 100px;
	/*background: #000;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
header nav{
	margin-left: auto;
	padding: 5vh 0;
}
nav li{	
	font-size: 14px;
	letter-spacing: .1em;
}
/*Оформление тела*/
main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

/* Оформление кнопки About us*/
main .button{
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	margin: 44vh 50% 80px 0;
	
}
main .button:hover{
	box-shadow: 0px 1px 3px rgba(0,0,0,.6);
}
.button a{
	display: inline-block;
	padding: 15px 30px;
	background-image: linear-gradient(90deg, #5b2a5a, #9b3968);
	background-position: 0px 0px;
	transition: all 1s ease;
}
.button a:hover{
	/*background-position: 10px 0px;*/
	background-image: linear-gradient(90deg, #5b2a5a 50px, #9b3968);
}

/*Оформление подвала сайта*/
footer{
	margin-top: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	padding: 5vh;
}
.pages{
	margin-left: auto;
	display: flex;
	flex-direction: column;
}
.pages a{margin-top: auto;
	align-self: flex-end;
	width: 40px;
	height: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255,255,255, .5);
	transition: all 200ms ease;

	margin-bottom: 8px;
	position: relative;
}
.pages a:hover:not([data-number-pages]){
	border-color: #8d49e0;
	width: 50px;
}
.pages a[data-number-pages]{
	border: 1px solid rgba(225,255,255, 1);
	width: 60px;
	
}
.pages a[data-number-pages]::after{
	content: attr(data-number-pages);
	position: absolute;
	left: -40px;
	top: -8px;
	font-size: 0.8em;
}

/* Effect bottom border enlarge */
nav a {
	position: relative;
	margin: 10px 25px;
	outline: none;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
.cl-effect-4{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.cl-effect-4 a {
	padding: 0 0 5px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 1px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.social a{
	transition: all 200ms ease-out;
}
a:hover{
	color: #fff;	
}
/*оформление 2ой страницы*/
main .features{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 720px;
	margin-top: 5vh;
}
main .features>div{
	box-sizing: border-box;
	max-width: 50%;
	text-align: center;
	font-size: .8em;

	letter-spacing: 1px;
	color: #fff;
	padding: 15px 15px;
	margin-bottom: 5px;
	cursor: pointer;
	min-width: 200px;

	transition: all 300ms ease-out;
}
main .features>div:first-child{
	background-color: #f48244;
}
main .features>div:first-child h2, main .features>div:last-child h2{
	color: rgba(0,0,0,.3);
}
main .features>div:last-child{
	background-color: #43d8de; 
}

h2{
	margin: 10px 0;
}
p{
	margin: 0;
}
.features>div:hover{
	transform: scale(1.06);
}

/*оформление 3ей страницы*/
.this_page{
	font: 1em HurmeGeomB, Arial, sans-serif;
	color: #fff;
}

main .servises{
	max-width: 700px;
	color: #fff;
	overflow: hidden;
	height: 330px;
	margin: 7vh 0;
}
main .servises li{
	padding: 99px 25px 30px;
}
main .servises li h2{
	font: 40px HurmeGeomB, Arial, sans-serif;
}
main .servises li p{

	font-size: 0.8em;
	padding: 15px 40% 25px 0;
}
main .servises li a{
	position: relative;
	border: 1px solid #fff;
	padding: 10px 20px;
}
main .servises li{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
main .servises .uxui{
	background-image: url(../img/Slide1.jpg);
}
main .servises .branding{
	background-image: url(../img/Slide2.jpg);
}
main .servises .logoDesign{
	background-image: url(../img/Slide3.jpg);
}
main .servises .emotionalDesign{
	background-image: url(../img/Slide4.jpg);
}

#slidewrapper{
	transition: 1s ease-in;
}