body > div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

div div:first-child, div div:last-child {
  background-color: lime; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: 1; }

div div {
  background-color: yellow;
  width: 10%;
  height: 100px;
  background-color: yellow;
  flex-grow: 1;
  margin-right: 10px; }
  div div:last-child {
    width: 100%;
    margin-top: 2em;
    margin-right: 0px; }
  div div:nth-child(8) {
    width: 12%;
    margin-right: 0px; }

body > div:first-child {
  font-family: Helvetica, Arial, sans-serif; }
