html,body,article,section,nav,aside,h1,h2,h3,h4,h5,h6,header,footer,address,p,ol,ul,li,dl,dt,
dd,div,a,strong,small,sup,span,img,iframe,embed,object,video,audio,table,tr,td,th,canvas,svg {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

html {
    cursor: default;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent
}


html {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: none;
    font-family: garamond-premier-pro, serif
}

main .page_1{
    min-height:  100vh;
    background-image: url("../images/sity_3.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}
main .page_2{
    min-height:  100vh;
    background-image: url("../images/sity_2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}
main .page_3{
    min-height:  100vh;
    background-image: url("../images/sity_1.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.block{    
    position: absolute;
    height: 20vh;
    width: 40vw;
    bottom: 30vh;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(10,10,10,.4);

} 

.block a{
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    text-transform: uppercase;
    font: 20px Roboto, Arial, sans-serif;
    color: white;   
    /*transition: all 0.1s ease; */
}


.line-link {
  position: relative;
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 0.10em;
  color: #fff;
  font-weight: lighter;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  padding-bottom: 10px;
}
.line-link:before,
.line-link:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  visibility: hidden;
}
.line-link:before {
  background-color: #00ffff;
  z-index: -1;
}
.line-link:after {
  background-color: #ff00ff;
  z-index: -2;
}
.line-link:hover:before {
  visibility: visible;
  animation: line-glitchy 0.3s ease 0.3s infinite;
}
.line-link:hover:after {
  visibility: visible;
  animation: line-glitchy 0.3s ease infinite reverse;
}
@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}
@keyframes line-glitchy {
  0% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
  75% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(-1px, 1px);
  }
}
