@import 'reset';

$bgDivOut: darkblue;
$bgDivMid: yellow;
$bgDivInn: red;
$sizeBox: 400px;

%container {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	>div{
		@extend %container;
		margin: auto;
		background-color: $bgDivOut;
		width: $sizeBox;
		height: $sizeBox;

		>div{
			@extend %container;
			background-color: $bgDivMid;
			width: $sizeBox*5/8;
			height: $sizeBox*5/8;

			>div{
				background-color: $bgDivInn;
				width: ($sizeBox*$sizeBox*5/16)/$sizeBox;
				height: ($sizeBox*$sizeBox*5/16)/$sizeBox;
			}
		}
	}
}
