@import 'reset';

$bgDivOne: #dcdcdc;
$bgDivTwo: #f5f5dc;
$bgDivThree: #5f9ea0;
$fontDoc: bold 1.2em Helvetica, Arial, sans-serif;
$widthBox: 100%;
$widthBoxImg: 200px;
$displayPr: flex;
$displaySpan: block;
$mparam: $widthBoxImg*7/20;

@mixin flexBlock($justify) {
	display: $displayPr;
	justify-content: $justify;
}

%fontsH2_3{
	text-align: center;
 	margin: 0;
}

.container{
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}
header{
	div{
		background-color: $bgDivOne;
		div{
			@include flexBlock(space-between);
			min-height: 70px;
			div {
				@include flexBlock(center);
				align-items: center;
				width: 35%;
				background-color: $bgDivThree;
			}
		}
	}
	nav{
		background-color: $bgDivTwo;
	}	
}
main{
	display: $displayPr;
}
%menu {
	background-color: $bgDivThree;
 	margin: 1em 0;
 	padding: 5px;
}
%marginAll { 
	margin: {
	top: 0;
	right: 0;
	bottom: 25px;
	left: 40px;
	};

}

@mixin imageb($bord,$bordCol){
	border: $bord solid $bordCol;
}	

ul {
	list-style-type: none;
	nav &{
		@include flexBlock(space-between);
		li{
			@extend %menu;
		}
	}
	.content &{
		@include flexBlock(space-between);
		flex-wrap: wrap;
		margin: 1em 0;
		li{
			@extend %marginAll;
			img{
				width: $widthBoxImg;
				height: $widthBoxImg;
				border-radius: $widthBoxImg/1.5;
				@include imageb(5px, rgba(10,20,30,.6));
			}
			span{
				display: $displaySpan;
			}
		}	
	}
}
.block{
	width: $widthBox * 0.3;
	font: $fontDoc;
	li{
		@extend %menu;
	}
}
h2{
	@extend %fontsH2_3;
}
h3{
	@extend %fontsH2_3;
}
footer{
	background-color: $bgDivThree;
	min-height: $mparam;
	line-height: $mparam;
}