html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: 1.15; }

h2, h3 {
  text-align: center;
  margin: 0; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px; }

header div {
  background-color: #dcdcdc; }
  header div div {
    display: flex;
    justify-content: space-between;
    min-height: 70px; }
    header div div div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      background-color: #5f9ea0; }

header nav {
  background-color: #f5f5dc; }

main {
  display: flex; }

nav ul li, .block li {
  background-color: #5f9ea0;
  margin: 1em 0;
  padding: 5px; }

.content ul li {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 40px; }

ul {
  list-style-type: none; }
  nav ul {
    display: flex;
    justify-content: space-between; }
  .content ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 0; }
    .content ul li img {
      width: 200px;
      height: 200px;
      border-radius: 133.33333px;
      border: 5px solid rgba(10, 20, 30, 0.6); }
    .content ul li span {
      display: block; }

.block {
  width: 30%;
  font: bold 1.2em Helvetica, Arial, sans-serif; }

footer {
  background-color: #5f9ea0;
  min-height: 70px;
  line-height: 70px; }

@media (max-width: 970px) and (min-width: 680px) {
  header > div > div, .content ul {
    justify-content: space-around; }
  .container {
    max-width: 920px; }
  .block {
    flex-shrink: 0.5;
    width: 30%;
    margin-right: 40px; } }

@media (max-width: 679px) and (min-width: 461px) {
  .content ul {
    justify-content: center; }
  .content {
    width: 70%; }
  .block {
    width: 30%;
    margin: 0; } }

@media (max-width: 460px) {
  header div div {
    min-height: 120px; }
  .content {
    width: 100%; }
    .content ul {
      flex-direction: column; }
      .content ul li {
        margin: 0 0 10px 0;
        text-align: center; }
        .content ul li img {
          width: 48vw;
          height: 48vw; }
        .content ul li span {
          font-fanily: Verdana, Arial, sans-serif;
          font-size: 1em; }
  nav li, .block li {
    font: 3vw Tahoma, sans-serif;
    letter-spacing: -0.05vw; } }
