html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: 1; }

body > div, body > div > div {
  display: flex;
  justify-content: center;
  align-items: center; }

body > div {
  margin: auto;
  background-color: darkblue;
  width: 400px;
  height: 400px; }
  body > div > div {
    background-color: yellow;
    width: 250px;
    height: 250px; }
    body > div > div > div {
      background-color: red;
      width: 125px;
      height: 125px; }
