@media (max-width: 425px){
.wrapper{
		flex-flow: column wrap;
		max-width: 400px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.red{
		order: 3;
		flex: 3 1 auto;		
	}
	.orange{
		display: none;
	}
	.green{
		order: 1;
		flex: 1 1 auto;	
	}
	.braun{
		display: none;
	}	
	.blue{
		display: none;	
	}	
	.violet{
		order: 2;
		flex: 1 1 auto;
		margin: 10px 0;	
	}
}