@media (max-device-width: 964px) and (min-width: 681px){
	.container{
	max-width: 964px;
	margin: 0 auto;
	padding: 0 10px;
}

	header>div>div{
	justify-content: space-around;
	}
	.content ul{
	justify-content: space-around;
	}

	.block{
	/*flex-grow: 1;*/
	flex-shrink: 0.5;
	width: 30%;
	margin-right: 40px;
	}
}

@media (max-width: 680px) {
	header>div>div{
	justify-content: space-around;
	}
	.content ul{
	justify-content: space-around;
	}
	.content {
	width: 70%;
	}
	.content ul{
	justify-content: center;
	}
	.block{
	width: 30%;
	margin: 0 10px 0 0;
	}
}

@media (max-width: 460px) {
	header>div>div{
	justify-content: space-around;
	}
	.content ul{
	justify-content: space-around;
	}
	.content ul{
	flex-direction: column;
	}
	.content li{
		margin: 0 0 10px 0;
		text-align: center;
	}
	body .content ul li img{
	/*display: block;*/
	width: 55vw;
	height: 55vw;
	}
	li span{
	display: block;
	font-size: 1.1em;
	font-family: Verdana, sans-serif;
	}
	h2, h3{
		font: bold 9vw Arial, sans-serif;
	}
	header>div>div{
	min-height: 120px;	
	}
	nav li, .block li{
 	font: bolder 0.7em Tahoma, sans-serif;
 	}
 	nav ul li{
 		/*margin-right: 2px;*/
 		width: 13%;
 	}
}

